<a href="https://colab.research.google.com/github/eugenioRSJ/EstudoCienciaDeDados/blob/main/Aprendizado_de_maquina_Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
aux = pd.read_csv("/content/drive/MyDrive/Aprendizado de maquina/Capitulo01-Introdução /classificacao/acesso.csv")
aux.head()

   acessou_home  acessou_como_funciona  acessou_contato  comprou
0             1                      1                0        0
1             1                      1                0        0
2             1                      1                0        0
3             1                      1                0        0
4             1                      1                0        0

In [ ]:
dados = aux[["acessou_home",	"acessou_como_funciona",	"acessou_contato"]].values
marcacoes=aux["comprou"].values

In [ ]:
from sklearn.naive_bayes import MultinomialNB
dados_treino = dados[:90]
marcacoes_treino = marcacoes[0:90]
dados_teste = dados[-9:]
marcacoes_teste = marcacoes[-9:]

In [ ]:
modelo = MultinomialNB()

In [ ]:
modelo.fit(dados_treino, marcacoes_treino)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [ ]:
print(modelo.predict([[1,0,1],[0,1,0], [0,0,1], [1,1,1]]))

[1 0 0 0]

In [ ]:
resultados= modelo.predict(dados_teste)

In [ ]:
diferenca = resultados - marcacoes_teste
acerto = [d for d in diferenca if d == 0]
total_acertos= len(acerto)
total_elementos = len(dados)
taxa_acerto = 100 * total_acertos/total_elementos
taxa_acerto

8.080808080808081

#Trabalhando com Váriaveis categoricas

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Aprendizado de maquina/Capitulo01-Introdução /classificacao/CursoMachineLearning_ IntroducaoaClassificacao-entrada-buscas.csv")

In [ ]:
df.head()

   home       busca  logado  comprou
0     0  algoritmos       1        1
1     0        java       0        1
2     1  algoritmos       0        1
3     1        ruby       1        0
4     1        ruby       0        1

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   home     1000 non-null   int64
 1   busca    1000 non-null   object
 2   logado   1000 non-null   int64
 3   comprou  1000 non-null   int64
dtypes: int64(3), object(1)
memory usage: 31.4+ KB

#Classificando variáveis categoricas

In [ ]:
x = df[['home', 'busca', 'logado']]
y = df.comprou

In [ ]:
x

     home       busca  logado
0       0  algoritmos       1
1       0        java       0
2       1  algoritmos       0
3       1        ruby       1
4       1        ruby       0
..    ...         ...     ...
995     0        ruby       0
996     0        ruby       0
997     0        java       1
998     1  algoritmos       0
999     0        ruby       1

[1000 rows x 3 columns]

In [ ]:
#convert variaveis categoricas em reais
Xdummies_df=pd.get_dummies(x)
Ydummies_df=y

In [ ]:

X = Xdummies_df.values
Y = Ydummies_df.values

In [ ]:
X

array([[0, 1, 1, 0, 0],
       [0, 0, 0, 1, 0],
       [1, 0, 1, 0, 0],
       ...,
       [0, 1, 0, 1, 0],
       [1, 0, 1, 0, 0],
       [0, 1, 0, 0, 1]])

In [ ]:
tamanho_do_treino = int(0.9*len(y))
tamanho_do_teste = len(y) - tamanho_do_treino
tamanho_do_treino, tamanho_do_teste

(900, 100)

In [ ]:
treino_dados= X[:tamanho_do_treino]
treino_marcacoes = Y[:tamanho_do_treino]
teste_dados= X[-tamanho_do_teste:]
teste_marcacoes = Y[-tamanho_do_teste:]

In [ ]:
#preparando modelo
#from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import AdaBoostClassifier
modelo = AdaBoostClassifier()
modelo.fit(treino_dados, treino_marcacoes)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=1.0,
                   n_estimators=50, random_state=None)

In [ ]:
#predizendo 
resultado = modelo.predict(teste_dados)
resultado

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [ ]:
diferenca = resultado - teste_marcacoes
diferenca

array([ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,
       -1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,
       -1,  0, -1,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0, -1,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  1,  0,  0,  1,  0,  0,  0,
        1,  0,  0,  0,  0,  0,  0,  1,  0,  1,  1,  0,  0,  0,  1])

In [ ]:
acerto = [d for d in diferenca if d ==0]
acerto

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [ ]:
total_acertos = len(acerto)
total_elementos = len(teste_dados)
taxa_acerto = 100 * total_acertos/total_elementos
total_acertos, total_elementos, taxa_acerto

(85, 100, 85.0)